In [1]:
import re

In [2]:
from pdfminer.high_level import extract_pages, extract_text

In [3]:
for page_layout in extract_pages("Rohan AyushCV1.pdf"):
    for elements  in page_layout:
        print(elements)

<LTTextBoxHorizontal(0) 34.000,1046.000,207.991,1076.000 'Rohan Ayush\n\n\n\n'>
<LTTextBoxHorizontal(1) 32.000,987.000,257.245,1033.000 'Data Scientist: Expert in Data \nAnallysis and ML Modeling (Python, \nR) and Data Visualization (Tableau)\n'>
<LTTextBoxHorizontal(2) 32.000,931.000,211.437,964.000 'Address- Dhurwa,Ranchi, \nJharkhand-834004\r\n\n\n'>
<LTTextBoxHorizontal(3) 32.000,859.000,282.071,910.000 'Email -rohanayush05@outlook.com\nPhone - +91 7992496642\n\nLinkedIN\n\n'>
<LTTextBoxHorizontal(4) 59.000,794.000,227.285,814.000 'WORK PROJECTS\n'>
<LTTextBoxHorizontal(5) 346.000,1026.000,580.364,1082.000 'EXPERIENCE\r\n\nDCT,Pune - ( Software Engineer )\n\nApril,2023  - September,2023\n\n\n'>
<LTTextBoxHorizontal(6) 346.000,972.000,571.443,1005.000 'Freelance ( Angular Developer )\n\nDecember 2022-  March -2023\n\n\n'>
<LTTextBoxHorizontal(7) 346.000,918.000,544.015,951.000 'Techup Labs — ( SDE-2 )\n\nAugust 2022 - October 2022\n\n\n'>
<LTTextBoxHorizontal(8) 346.000,846.000,625.727,897.000 'Infosys, Hyderabad — (Senior Systems \nEngineer\r)\n\nMay 2019- May 2022\n\n'>
<LTTextBoxHorizontal(9) 653.000,991.000,944.779,1088.000 'EDUCATION\nNational Institute of Science and Technology, \nBerhampur \nTechnology\r\n\n2015 - 2019\r\n\nCgpa of 7.36\n\n\n'>
<LTTextBoxHorizontal(10) 732.297,1039.000,900.352,1053.000 '— BTECH in Information \n'>
<LTTextBoxHorizontal(11) 653.000,939.000,875.615,972.000 'SKILLS\n\nGoogle Data Analytics Certification\n\n\n'>
<LTTextBoxHorizontal(12) 653.000,848.000,961.809,922.000 'Google Advanced Data Analysis Certification\nMachine Learning, Data Analytics, Data Vizualisation\n\nTechnologies:  Python,R, SQL, Tableau,Excel, \nJavascript, Angular\n\nOthers: Git, CI/CD, Kaggle, Google collab\n\n'>
<LTTextBoxHorizontal(13) 63.000,737.000,407.611,772.000 'Work Scheduling System - Built using Angular, \nSAP based API,Bootstrap3\n'>
<LTTextBoxHorizontal(14) 483.000,738.000,910.840,773.000 'Infosys Employee Desk - Built using Angular, Flask,SAP \nand on premise APo\n'>
<LTTextBoxHorizontal(15) 71.137,706.000,395.355,720.000 '¥ Application catered to entire employees at Poland \n'>
<LTTextBoxHorizontal(16) 84.000,691.000,265.069,704.000 'for scheduling working hour[\n'>
<LTTextBoxHorizontal(17) 71.136,646.000,405.170,690.000 '¥ Designed different roles based on employe \n¥ SAP API requests and integration(cid:141)\n¥ Excel upload/download for scheduling and ability to \n'>
<LTTextBoxHorizontal(18) 71.136,601.000,337.495,644.000 'schedule on view  as well(cid:141)\n¥ Schedule leave or weekly of^\n¥ Copying schedule to multiple employees \n'>
<LTTextBoxHorizontal(19) 490.555,704.000,892.503,717.000 '¥ Served for team at Internal Systems for employees’ activity like \n'>
<LTTextBoxHorizontal(20) 502.500,689.000,732.219,702.000 'relieving and entering to Organisatiož\n'>
<LTTextBoxHorizontal(21) 490.555,674.000,908.768,687.000 '¥ Smoothend the process of review and analysis by giving Reasons \n'>
<LTTextBoxHorizontal(22) 502.501,659.000,676.195,672.000 'flown from SAP at one plac \n'>
<LTTextBoxHorizontal(23) 490.555,614.000,902.108,657.000 '¥ Easy and Dynamic Search suggestion using Angular Materia²\n¥ Used Graphs to show data in appealing way(cid:141)\n¥ Having the ability to choose time frame for accurately seeing the \n'>
<LTTextBoxHorizontal(24) 502.501,599.000,556.925,612.000 'patterns \n'>
<LTTextBoxHorizontal(25) 55.000,546.000,289.082,566.000 ' PROJECTS SHOWCASE\n'>
<LTTextBoxHorizontal(26) 63.000,466.000,499.492,517.000 'Salifort Motors HR Analysis and Machine Leaning \nModel (Customer Churn)-Logistic regression - Python  \n(Repository)(cid:141)\n'>
<LTTextBoxHorizontal(27) 71.137,418.000,366.857,464.000 '¥ Performed exploratory Analysiå\n¥ Trained model to predict Customer Churž\n¥ Used Logistic Regression \n\n\n'>
<LTTextBoxHorizontal(28) 62.999,361.000,470.026,396.000 'Kaggle Trending Youtube Videos Analysis- Python, \nRepository Î\n'>
<LTTextBoxHorizontal(29) 470.777,380.000,485.202,396.000 ' ( \n'>
<LTTextBoxHorizontal(30) 71.137,329.000,482.589,343.000 '¥ Performed exploratory data analysis on trending YouTube \n'>
<LTTextBoxHorizontal(31) 84.001,313.000,183.093,327.000 'videos in Indi›\n'>
<LTTextBoxHorizontal(32) 71.137,281.000,447.944,311.000 '¥ Analyze trends based on graphs drawn(cid:141)\n¥ Drew correlation between views comments and likes \n'>
<LTTextBoxHorizontal(33) 84.001,265.000,208.463,279.000 'through heatmaps\n\n\n\n'>
<LTTextBoxHorizontal(34) 63.000,237.000,326.794,253.000 'Zomato Restaurant Data Analysis\n'>
<LTTextBoxHorizontal(35) 327.566,237.000,447.225,253.000 '  ( Repository )(cid:141)\n'>
<LTTextBoxHorizontal(36) 71.137,189.000,441.115,219.000 '¥ Did EDA to find relation between different variableå\n¥  Matplotlib graphs/charts to show outcome\n\n\n'>
<LTTextBoxHorizontal(37) 62.999,116.000,353.119,170.000 'Data Science Salaries Data Analysis \n)\n\n(cid:141)\n'>
<LTTextBoxHorizontal(38) 353.832,154.000,457.563,170.000 ' ( Repository \n'>
<LTTextBoxHorizontal(39) 71.136,52.000,428.604,114.000 '¥ Kaggle Dataset with usability 1/\n¥  Did Exploratory Data Analysiå\n¥ Found out patterns hidden in data and compared \nthrough seaborn graphs/charts to show relation\n\n'>
<LTTextBoxHorizontal(40) 528.000,486.000,823.849,521.000 'New York Yellow Taxi Analysis( Time \nseries) - Python ( Repository Î\n'>
<LTTextBoxHorizontal(41) 536.137,438.000,829.177,468.000 '¥  EDA done through visual Seaborn chartå\n¥ Performed 2-pair statistical test for \n'>
<LTTextBoxHorizontal(42) 549.001,422.000,677.353,436.000 'hypothesis testinù\n'>
<LTTextBoxHorizontal(43) 536.137,406.000,838.992,420.000 '¥ Prepared  Rainforest model and XGBoost \n'>
<LTTextBoxHorizontal(44) 549.000,390.000,690.716,404.000 'model for prediction\n\n'>
<LTTextBoxHorizontal(45) 519.000,297.000,897.886,332.000 'Recommendation API - Flask,hosted on Heroku \n(Repository)Ü\n'>
<LTTextBoxHorizontal(46) 898.684,316.000,947.156,332.000 '(Live) \n'>
<LTTextBoxHorizontal(47) 527.136,265.000,856.693,295.000 '¥ Predict category for content(cid:141)\n¥ Suggest articles using news api/google news\n\n\n'>
<LTTextBoxHorizontal(48) 519.000,212.000,814.495,247.000 'Trends API -Flask-Hosted on Heroku \nRepository Î\n'>
<LTTextBoxHorizontal(49) 815.297,231.000,884.359,247.000 '( Live ) ( \n'>
<LTTextBoxHorizontal(50) 527.137,180.000,835.070,210.000 '¥ Suggest term recommendationå\n¥ Return trends based on country parameter\n\n\n'>
<LTTextBoxHorizontal(51) 519.000,107.000,937.564,161.000 'Content Based Recommendation- Machine Learning-\nScikit Learn,Cosine Similarity, BBC news Dataset \nRepository\n'>
<LTTextBoxHorizontal(52) 602.953,107.000,612.442,123.000 ' )\n\n\n\n'>
<LTTextBoxHorizontal(53) 911.996,126.000,921.365,142.000 '( \n'>
<LTRect 0.000,0.000,997.000,1100.000>
<LTCurve 37.000,20.000,949.000,597.000>
<LTTextLineHorizontal 759.133,1070.000,762.619,1084.000 '\r\n\n'>
<LTTextLineHorizontal 933.063,908.000,936.287,921.000 ' \n\n'>
<LTTextLineHorizontal 528.000,375.000,531.224,388.000 ' \n\n\n\n\n'>

In [6]:
text = extract_text("Rohan AyushCV1.pdf")
print(text)

Rohan Ayush




Data Scientist: Expert in Data
Anallysis and ML Modeling (Python,
R) and Data Visualization (Tableau)

Address- Dhurwa,Ranchi,
Jharkhand-834004



Email -rohanayush05@outlook.com
Phone - +91 7992496642

LinkedIN


WORK PROJECTS

EXPERIENCE

DCT,Pune - ( Software Engineer )

April,2023  - September,2023



Freelance ( Angular Developer )

December 2022-  March -2023



Techup Labs — ( SDE-2 )

August 2022 - October 2022



Infosys, Hyderabad — (Senior Systems
)ngineer

May 2019- May 2022


EDUCATION
National Institute of Science and Technology,
Berhampur
Technology

2015 - 2019

Cgpa of 7.36



— BTECH in Information

SKILLS

Google Data Analytics Certification



Google Advanced Data Analysis Certification
Machine Learning, Data Analytics, Data Vizualisation

Technologies:  Python,R, SQL, Tableau,Excel,
Javascript, Angular

Others: Git, CI/CD, Kaggle, Google collab


Work Scheduling System - Built using Angular,
SAP based API,Bootstrap3

Infosys Employee Desk - Built using Angular, Flask,SAP
and on premise APo

¥ Application catered to entire employees at Poland

for scheduling working hour[

¥ Designed different roles based on employe
¥ SAP API requests and integration(cid:141)
¥ Excel upload/download for scheduling and ability to

schedule on view  as well(cid:141)
¥ Schedule leave or weekly of^
¥ Copying schedule to multiple employees

¥ Served for team at Internal Systems for employees’ activity like

relieving and entering to Organisatiož

¥ Smoothend the process of review and analysis by giving Reasons

flown from SAP at one plac

¥ Easy and Dynamic Search suggestion using Angular Materia²
¥ Used Graphs to show data in appealing way(cid:141)
¥ Having the ability to choose time frame for accurately seeing the

patterns

 PROJECTS SHOWCASE

Salifort Motors HR Analysis and Machine Leaning
Model (Customer Churn)-Logistic regression - Python
(Repository)(cid:141)

¥ Performed exploratory Analysiå
¥ Trained model to predict Customer Churž
¥ Used Logistic Regression



Kaggle Trending Youtube Videos Analysis- Python,
Repository Î

 (

¥ Performed exploratory data analysis on trending YouTube

videos in Indi›

¥ Analyze trends based on graphs drawn(cid:141)
¥ Drew correlation between views comments and likes

through heatmaps




Zomato Restaurant Data Analysis

  ( Repository )(cid:141)

¥ Did EDA to find relation between different variableå
¥  Matplotlib graphs/charts to show outcome



Data Science Salaries Data Analysis
)

(cid:141)

 ( Repository

¥ Kaggle Dataset with usability 1/
¥  Did Exploratory Data Analysiå
¥ Found out patterns hidden in data and compared
through seaborn graphs/charts to show relation


New York Yellow Taxi Analysis( Time
series) - Python ( Repository Î

¥  EDA done through visual Seaborn chartå
¥ Performed 2-pair statistical test for

hypothesis testinù

¥ Prepared  Rainforest model and XGBoost

model for prediction


Recommendation API - Flask,hosted on Heroku
(Repository)Ü

(Live)

¥ Predict category for content(cid:141)
¥ Suggest articles using news api/google news



Trends API -Flask-Hosted on Heroku
Repository Î

( Live ) (

¥ Suggest term recommendationå
¥ Return trends based on country parameter



Content Based Recommendation- Machine Learning-
Scikit Learn,Cosine Similarity, BBC news Dataset
Repository

 )




(

In [7]:
pattern = re.compile(r"[A-Za-z]+,{1}\s{1}")
matches = pattern.findall(text)
print(matches)

['Python, ', 'Ranchi, ', 'Infosys, ', 'Technology, ', 'Learning, ', 'Analytics, ', 'R, ', 'SQL, ', 'Excel, ', 'Javascript, ', 'Git, ', 'CD, ', 'Kaggle, ', 'Angular, ', 'Angular, ', 'Python, ', 'Similarity, ']

In [14]:
names = [n[:-2] for n in matches]
print(names)

['Python', 'Ranchi', 'Infosys', 'Technology', 'Learning', 'Analytics', 'R', 'SQL', 'Excel', 'Javascript', 'Git', 'CD', 'Kaggle', 'Angular', 'Angular', 'Python', 'Similarity']

## Extract Images

In [15]:
import fitz  # from pip install PyMuPDF
import PIL.Image # from pillow
import io

In [18]:
pdf = fitz.open("Encyclopedia of Extinct Animals.pdf")
counter = 1
#scalable
for i in range(len(pdf)):
    page = pdf[i]
    images = page.get_images()
    for image  in images:
        base_img = pdf.extract_image(image[0])
        image_data = base_img["image"]
        img = PIL.Image.open(io.BytesIO(image_data))
        extension = base_img['ext']
        img.save(open(f"image{counter}.{extension}","wb"))
        counter+=1

## Table

In [65]:
import tabula

In [66]:
def pdf_to_csv(input_file,output_file_name):
    tables = tabula.read_pdf(input_file, pages='all', multiple_tables=True)
    if(tables):
        for table_num,table in enumerate(tables):
            df = pd.DataFrame(table)
            df['table_number']=table_num + 1
            output = output_file_name+str(table_num +1)+".csv"
            df.to_csv(output, index=False, encoding='utf-8')
            print(f"Files saved at {output}")
    else:
        print('No tables found in the PDF.')

In [69]:
input_pdf_path = 'table.pdf' 
output_csv_path = f'output file of {input_pdf_path}'
pdf_to_csv(input_pdf_path,output_csv_path)

Files saved at output file of table.pdf1.csv

#### Dealing with nested pdf tables

In [72]:
def extract_nested_data(table):
    # Function to extract data from nested columns
    nested_data = []
    for df in table:
        if 'Gender' in df.columns and 'M' in df['Gender'] and 'F' in df['Gender']:
            for _, row in df.iterrows():
                gender_data = {
                    'Name': row['Name'],
                    'Age': row['Age'],
                    'Gender_M': row['Gender']['M'],
                    'Gender_F': row['Gender']['F']
                }
                nested_data.append(gender_data)
    return nested_data

In [74]:
input_pdf_path = 'table.pdf' 
output_csv_path = f'output file of {input_pdf_path}'
tables = tabula.read_pdf(input_pdf_path, pages='all', multiple_tables=True)
print(tables)
# nested_data= extract_nested_data(tables)
# print(nested_data)

[    Unnamed: 0    Unnamed: 1 Unnamed: 2   Unnamed: 3    Unnamed: 4  \
0          NaN           NaN        NaN      Ballots           NaN
1   Disability           NaN    Ballots          NaN           NaN
2          NaN  Participants        NaN  Incomplete/           NaN
3     Category           NaN  Completed          NaN      Accuracy
4          NaN           NaN        NaN   Terminated           NaN
5          NaN           NaN        NaN          NaN           NaN
6        Blind             5          1            4    34.5%, n=1
7   Low Vision             5          2            3     98.3% n=2
8          NaN           NaN        NaN          NaN  (97.7%, n=3)
9    Dexterity             5          4            1    98.3%, n=4
10    Mobility             3          3            0    95.4%, n=3

            Results
0               NaN
1               NaN
2               NaN
3           Time to
4               NaN
5          complete
6     1199 sec, n=1
7     1716 sec, n=3
8   (1934 sec, n=2)
9   1672.1 sec, n=4
10    1416 sec, n=3  ]

In [76]:
data = pd.DataFrame(tables[0])
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Results
0,NaN,NaN,NaN,Ballots,NaN,NaN
1,Disability,NaN,Ballots,NaN,NaN,NaN
2,NaN,Participants,NaN,Incomplete/,NaN,NaN
3,Category,NaN,Completed,NaN,Accuracy,Time to
4,NaN,NaN,NaN,Terminated,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,complete
6,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
7,Low Vision,5,2,3,98.3% n=2,"1716 sec, n=3"
8,NaN,NaN,NaN,NaN,"(97.7%, n=3)","(1934 sec, n=2)"
9,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"
10,Mobility,3,3,0,"95.4%, n=3","1416 sec, n=3"

In [77]:
def flatten_nested_table(data):
    flat_data = []

    current_category = None

    for _, row in data.iterrows():
        if pd.notna(row['Unnamed: 0']):
            current_category = row['Unnamed: 0']

        flat_row = {'Category': current_category}

        for col in data.columns:
            if pd.notna(row[col]) and col != 'Category':
                flat_row[col] = row[col]

        flat_data.append(flat_row)

    return flat_data

In [80]:
df1=pd.DataFrame(flatten_nested_table(data))
df1.to_csv("table.csv", index=False, encoding='utf-8')